<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 2 years of software development experience across a variety of industries. 
            I specialize in creating full-stack custom applications with a data-driven focus to fit 
            client needs using the .NET (Microsoft) development ecosystem.
        </p>
        <p>
           I'm truly a problem-solver at heart. I love decomposing complex issues into smaller 
           problems that are easy to solve. I especially enjoy solving problems that can deliver
           instant business value to all parties involved. 
        </p>
        <p>
           I'm looking for an opportunity to continue learning and delivering business value. Please
           use the form at the bottom of this page if you are interested in connecting.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Implemented a long-term data management system to retrieve, store, and manage 70+ streams
            of third-party data for a national company.
    			</li>
          <li>
            Leveraged ETL tools to automate the retrieval and processing of analytical data, reducing
            Business Analyst labor by 200+ hours per month
    			</li>
          <li>
            
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
