<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          I have over 2 years of software development experience across a variety of industries. 
          I specialize in creating full-stack custom applications with a data-driven focus to fit 
          client needs using the .NET (Microsoft) software ecosystem.
        </p>
        <p>
          I love working with others as a team to overcome challenging issues. When working
          on a team, there are more opportunities to learn and help others while building
          something greater than each individual could create on their own.
        </p>
        <p>
          I'm currently looking for a new opportunity to continue growing while making a positive
          impact on the world. 
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Implemented a long-term data management system to retrieve, store, and manage 70+ streams
            of third-party data for a national company.
    			</li>
          <li>
            Leveraged ETL tools to automate the retrieval and processing of analytical data, reducing
            Business Analyst labor by 200+ hours per month.
    			</li>
          <li>
            While fulfilling the role of Scrum Master, I helped a new software development team navigate 
            the Forming and Storming phases of team development while implementing the Agile Scrum 
            methodology.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
