<section class="tout" id="interests">
    <div class="container">
      	<div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
		<div class="row">
			<div class="col-sm-6">
				<p>
					My personal interests include:
				</p>
				<ul>
					<li>
						<b>Foreign Languages</b>. I recently started learning Spanish. I am thoroughly 
						enjoying the process of exploring a new intellectual challenge and way of 
						interacting with the world. 
					</li>
					<li>
						<b>Fitness</b>. Some of my favorites are ballroom dancing and rock climbing. I've
						even been getting into plain ol' running as of late. That's right, <i>I run for fun</i>.
					</li>
					<li>
						<b>Software Development</b>. This was always something I did for money but not for
						enjoyment. Last year I started working on a personal project and what do you know,
						<i>it's actually fun</i>.
					</li>
					<li>
						<b>Teaching Others</b>. I have always found immense gratification from teaching others.
						I'm always actively seeking out opportunities to teach and raise my peers and others to
						a new level.
					</li>  
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Recent Projects</h3>
				<ul>
					<li>
						<a href="https://github.com/jdhawley/Ynab.Net">Ynab.Net</a> is an attempt to create an 
						open-source <a href="https://www.youneedabudget.com/">YNAB</a> API client for .NET 
						developers. This project is just getting started so check back often for more updates!
					</li>
					<li>
						<a href="https://github.com/jdhawley/QuestionGenerator">QuestionGenerator</a> is a small project I created to send several thought-provoking questions to my
						girlfriend and I to discuss every day. It's super simple, but had a big impact on the quality of 
						our relationship.
					</li>
				</ul>
				<h3>Other Things</h3>
				<ul>
					<li>
						I have been an Eagle Scout since 2014.
					</li>
					<li>
						I can solve a Rubik's Cube in ~60 seconds.
					</li>
				</ul>
			</div>
		</div>
  	</div>
</section>
