<section class="tout" id="interests">
    <div class="container">
      	<div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
		<div class="row">
			<div class="col-sm-6">
				<p>
					My personal interests include:
				</p>
				<ul>
					<li>
						<b>Teaching Others</b>. I have always found immense gratification from teaching others.
						I have spent 600+ hours teaching/tutoring my peers in Computer Science and Software 
						Development since early high school, and I am always looking for more opportunities to 
						get involved in teaching others.
					</li>
					<li>
						<b>Fitness</b>. Some of my favorites are ballroom dancing, rock climbing, and ultimate frisbee. 
						I also like CrossFit, Paddleboarding, and playing most sports. I really just like getting out
						of the house and being physically active.
					</li>
					<li>
						<b>Software Development</b>. I've been spending more time lately working on personal projects
						and learning new skills that are interesting to me. Most recently, I've been taking an
						interest to mobile development.
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Recent Projects</h3>
				<ul>
					<li>
						<a href="https://github.com/jdhawley/ImageStorage">ImageStorage</a> is my first attempt
						at creating an iPhone application. Right now I'm attempting to replicate many of the 
						built-in features of the Photos app, but I hope to expand into new functionality at a
						later time.
					</li>
					<li>
						<a href="https://github.com/jdhawley/QuestionGenerator">QuestionGenerator</a> is a small
						project I created to send a daily email containing thought-provoking questions. The 
						questions are primarily targeted towards couples in committed relationships but could be 
						used to spark conversations with anybody.
					</li>
				</ul>
				<h3>Other Things</h3>
				<ul>
					<li>
						I became an Eagle Scout in 2014.
					</li>
					<li>
						I can solve a Rubik's Cube in under 60 seconds.
					</li>
				</ul>
			</div>
		</div>
  	</div>
</section>
